#authorlabel {  
    margin-left: 215px;
}
#submitquote {
    margin-left: 350px;
}
.quotes {
    width: 700px;
    height: 180px;
    font-size: .8em;
    border: 3px solid black;
    margin-top: 20px;
} 
.quotes p {
    width: 400px;
    word-wrap: break-word;
}
#formheader {
    width: 800px;
}
#quoteformdiv {
    display: inline-block;
    width: 500px;
}
#errors {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}
.formerrors {
    font-size: .7em;
    color: red;
    text-decoration: italic;
}
#thequote {
    display: inline-block;
    vertical-align: top;
}
#votescount {
    display: inline-block;
    font-size: 2em;
    position: relative;
    left: 30px;
    top: -20px;
}
#likebuttons {
    display: inline-block;
    position: relative; 
    left: 130px;
    top: 20px;
}
#UPButton {
    background-color: lightseagreen;
    width: 100px;
    height: 40px;
}
#DOWNButton {
    background-color: lightcoral;
    width: 100px;
    height: 40px;
}
#DELETEButton {
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
}